<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Welcome Name</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-8" ng-repeat="tap in taps">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Name: {{tap.name}} Campus: {{tap.campus}}
                </div>
                <div class="panel-body">
                  <!-- Chart Placeholder -->
                  <div class="panel panel-default col-sm-12">
                    <h4 class="col-md-5">Opening Time: {{tap.schedule.tuesday.open}}</a></h4>
                    <h4 class="col-md-5">Closing Time: {{tap.schedule.tuesday.close}}</a></h4>
                  </div>
                  <div class="col-lg-8 col-sm-12" id="line-chart" ng-controller="ChartCtrl">
                      <div class="panel panel-default">
                          <div class="panel-heading">Line Chart</div>
                          <div class="panel-body">
                              <canvas class="chart chart-line chart-xl" data="line.data" labels="line.labels" legend="true"
                              click="line.onClick" series="line.series"></canvas>
                          </div>
                      </div>
                  </div>
                  <!-- Keg Placeholder -->
                  <img class="col-sm-4" src='http://www.clker.com/cliparts/f/6/e/5/11954299431778310410johnny_automatic_beer_keg.svg.med.png' alt='Beer Keg clip art'/>

                  <div class="panel panel-default col-sm-8 col-lg-12">
                    <h5 class="col-sm-12 col-lg-6">Current Beer: <a href="">{{tap.currentBeer}}</a></h5>
                    <h5 class="col-sm-12 col-lg-6">Purchased From: <a href="">{{tap.distributor}}</a></h5>
                    <h5 class="col-sm-12 col-lg-6">Keg Size: {{tap.size}}</h5>
                    <h5 class="col-sm-12 col-lg-6">Pours Remaining: {{tap.poursRemaining() | number:1}}</h5>
                    <h5 class="col-sm-12 col-lg-6">Date tapped: {{tap.dateSinceTapped}} Days Ago </h5>
                    <h5 class="col-sm-12 col-lg-6">Est. Time Remaining: {{tap.timeUntilEmpty() | number:1}}</h5>

                  </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Notifications Panel
                </div>
                <!-- /.panel-heading -->
                <notifications></notifications>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
