<div class="col-lg-12" ng-init="getCampuses()">
  <div class="col-lg-12" ng-repeat="campus in campuses">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{campus.name}}
      </div>
      <div class="panel-body">
        <div class="photo-container col-sm-4">
          <div class="col-sm-10 col-sm-offset-1 thumbnail">
            <img class="col-sm-12" src="{{campus.photoURL}}" alt="Photo of {{campus.name}}" />
          </div>
        </div>
        <div class="panel-body col-sm-8">
          <h3>{{campus.city}}</h3>
          <h3>{{campus.state}}</h3>
          <h3>{{campus.country}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
