<div class="col-sm-12 page-sub-wrapper" ng-init="getCampuses()">
  <div class="page-splash-campuses">
    <h1 class="splash-title">testing testing</h1>
  </div>
  <div class="ceiling">

  </div>
  <div ng-repeat="campus in campuses | orderBy: 'label'">
    <div class="col-lg-3 col-md-4 col-sm-6 campus-card">
      <div class="campus-container">
        <div class="campus-header">
          <a href="">
            <img class="campus-photo" src="/assets/logo.jpg"/>
          </a>
        </div>
        <div class="campus-body">
          <a href="dashboard.campuses.{{campus.id}}"><h4 class="name-link-text">{{campus.label}}</h4></a>

        </div>
      </div>
    </div>
  </div>
</div>
