<div class="col-sm-12 page-sub-wrapper" ng-init="getCampuses()">
  <div class="page-splash-campuses">
    <h1 class="splash-title">CAMPUSES</h1>
  </div>
  <div class="ceiling">

  </div>
  <div ng-repeat="campus in campuses | orderBy: 'label'">
    <div class="col-lg-3 col-md-4 col-sm-6 campus-card">
      <div class="card-container">
        <div class="card-header">
          <a ui-sref="dashboard.campuses.campus({campusID: campus.id})">
            <img class="campus-photo" src="/assets/logo.jpg"/>
          </a>
        </div>
        <div class="campus-body">
          <a ui-sref="dashboard.campuses.campus({campusID: campus.id})"><h4 class="name-link-text">{{campus.label}}</h4></a>

        </div>
      </div>
    </div>
  </div>
</div>
