<div class="col-lg-12" ng-init="getUsers()">
  <div class="col-lg-12" ng-repeat="user in users">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{user.firstName}} {{user.lastName}}
      </div>
      <div class="panel-body">
        <div class="photo-container col-sm-4">
          <div class="col-sm-10 col-sm-offset-1 thumbnail">
            <img class="col-sm-12" src="{{user.photoURL}}" alt="Photo of {{user.firstName}} {{user.lastName}}" />
          </div>
        </div>
        <div class="panel-body col-sm-8">

        </div>
      </div>
    </div>
  </div>
</div>
