<div class="col-sm-12 page-sub-wrapper" ng-init="searchBeers(passedSearchQuery)">
  <div class="page-splash-profile">
    <h1 class="splash-title">BEER SEARCH</h1>
  </div>
  <div class="ceiling">

  </div>

  <div class="filter-block">
    <div class="col-md-4 col-sm-12 field-container">
      <input class="form-control field-box input-box" ng-model="beerSearchQuery" placeholder="Search for a Beer" value="beerSearchQuery">
    </div>
  </div>
  <div class="ceiling">

  </div>

  <div ng-repeat="beer in searchedBeers | filter: beerSearchQuery">
    <div class="col-lg-3 col-md-4 col-sm-6 profile-card">
      <div class="profile-container">
        <div class="profile-header">
          <a href="">
            <img class="profile-photo"  src="{{beer.brewery_label}}" alt="Photo of {{beer.brewery_name}}"/>
          </a>
        </div>
        <div class="profile-body">

          <a href=""><h4 class="name-link-text">{{beer.beer_name}}</h4></a>
          <h4>{{beer.brewery_name}}</h4>


          <div class="profile-location-box">
            <div class="profile-location-box-fill">
              <h4 class="profile-location-text"><i class="fa fa-map-marker"></i> {{user.campuses[0].label}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
