<div class="col-sm-12 page-sub-wrapper" ng-init="getTap(); populatePurchasedBeers()">
  <div class="page-splash-profile">
    <h1 class="splash-title">BEER SEARCH</h1>
  </div>
  <div class="ceiling">

  </div>

  <div class="filter-block">
    <div class="col-md-4 col-sm-10 field-container">
      <input class="form-control field-box input-box" ng-model="beerSearchQuery" placeholder="Search for a Beer" value="beerSearchQuery">
    </div>
    <div class="col-md-2 col-sm-2 field-container">
    <a class="form-control field-box btn btn-primary btn-large" ng-click="searchBeers(beerSearchQuery)">SEARCH</a>
    </div>
    <div class="col-md-4 col-md-offset-2 col-sm-12 field-container">
      <input class="form-control field-box input-box" ng-model="beerRefineSearch" placeholder="Refine Search">
    </div>
  </div>
  <div class="ceiling">

  </div>

  <div ng-show="!searchedBeers && previousBeers" class="ng-hide" ng-repeat="beer in previousBeers | filter: beerRefineSearch | orderBy: beer_name" ng-cloak>
    <div class="col-lg-3 col-md-4 col-sm-6 profile-card" ng-click="changeKeg(beer)">
      <div class="card-container">
        <div class="card-header">
          <a>
            <img ng-show="beer.Brewery.brewery_label"class="profile-photo ng-hide"  src="{{beer.Brewery.brewery_label}}" alt="Photo of {{beer.Brewery.brewery_name}}"/>
          </a>
        </div>
        <div class="profile-body">

          <a href=""><h4 class="name-link-text">{{beer.beer_name}}</h4></a>
          <h4>{{beer.Brewery.brewery_name}}</h4>

        </div>
      </div>
    </div>
  </div>

  <div ng-show="searchedBeers" class="ng-hide" ng-repeat="beer in searchedBeers | filter: beerRefineSearch | orderBy: beer_name" ng-cloak>
    <div class="col-lg-3 col-md-4 col-sm-6 profile-card" ng-click="changeKeg(beer)">
      <div class="card-container">
        <div class="card-header">
          <a>
            <img ng-show="beer.beer.brewery.brewery_label"class="profile-photo ng-hide"  src="{{beer.beer.brewery.brewery_label}}" alt="Photo of {{beer.beer.brewery.brewery_name}}"/>
            <img ng-show="beer.brewery.brewery_label"class="profile-photo ng-hide"  src="{{beer.brewery.brewery_label}}" alt="Photo of {{beer.brewery.brewery_name}}"/>
          </a>
        </div>
        <div class="profile-body">

          <a href=""><h4 class="name-link-text">{{beer.beer.beer_name}}</h4></a>
          <h4>{{beer.beer.brewery.brewery_name}}</h4>
          <h4>{{beer.brewery.brewery_name}}</h4>

        </div>
      </div>
    </div>
  </div>
</div>
