<div class="col-sm-12">
  <div class="col-sm-3 col-sm-offset-9">
    <div class="fa fa-angle-right col-sm-1">

    </div>
    <div class="panel panel-primary col-sm-11">
      <div class="login-container col-sm-12">
        <a href="" class="btn btn-danger">Login</a>
      </div>
      <div class="dropdown-container">

      </div>
    </div>
  </div>
</div>
<div class="col-sm-12">
  <div class="jumbotron ng-hide" ng-show="!tap.open">
    Tap Will Open at {{tap.times.open}}
  </div>
  <div class="jumbotron ng-hide" ng-show="!tap.open">
    Tap Will Close at {{tap.times.close}}
  </div>
</div>
<div class="col-sm-12">
  <div class="jumbotron">
    Currently On Tap: {{tap.currentBeer}}
  </div>

</div>
