<div ng-init="getTap()">
  <div class="page-splash-profile">
  </div>
  <div class="ceiling">

  </div>
  <!-- /.row -->

  <!-- /.panel -->
    <div class="dashboard-container">
      <div class="col-lg-8 col-sm-12">
        <div class="tap-container col-sm-10 col-sm-offset-1">
          <div class="tap-header col-sm-12">
            <a href="">
              <img class="profile-photo" src="/assets/logo.jpg" alt="Galvanize Logo" />
            </a>

          </div>
            <!-- {{tap.getColor()}} -->


            <div class="tap-title-container">
              <a><p class="tap-headline-text">{{selectedTap.name}}</p></a>
            </br>
            <p class="tap-headline-text">{{selectedTap.campus}}</p>
            </div>
            <div class="dashboard-content">
              <div class="col-sm-8 time-container" >
                <div ng-repeat="time in selectedTap.times">
                  <div class="time-block time-block-open col-sm-10 col-sm-offset-1">
                    <p class="col-sm-12 time-headline">Opening Time: {{time.openTime}}</p>
                  </div>
                  <div class="time-block time-block-close col-sm-10 col-sm-offset-1">
                    <p class="time-headline">Closing Time: {{time.closeTime}}</p>
                  </div>
                </div>
              </div>

              <div class="keg-level-indicator col-sm-3">
                <div class="keg-cover-container">
                  <div class="keg-fill" ng-style="{height: selectedTap.percentageRemaining() + '%', background: selectedTap.getColor()}"></div>
                  <div class="keg-cover-container">
                    <img class="keg-img" src="assets/keg-cover.png" alt='Keg Cover' />
                  </div>
                </div>

              </div>
            </div>

            <div class="button-container col-sm-12">
              <div class="col-md-4 col-sm-12">
                <a class="btn btn-primary dashboard-btn col-sm-12">Change Keg</a>
              </div>
              <div class="col-md-4 col-sm-12">
                <a class="btn btn-primary dashboard-btn col-sm-12">Change Schedule</a>
              </div>
              <div class="col-md-4 col-sm-12">
                <a class="btn btn-primary dashboard-btn col-sm-12">Manual Override</a>
              </div>
            </div>
          </div>
        </div>
        <div class="tap-container col-sm-10 col-sm-offset-1">
          <div class="tap-header col-sm-12">

          </div>
          <div class="tap-body col-sm-12">
            <div class="schedule-container col-sm-12" ng-repeat="day in selectedTap.schedule">
              <div class="">
                <div class="">

                </div>
              </div>
              <div class="">

              </div>
              <div class="">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
