/* UI Elements */

.filter-block {
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), #000);
    height: 70px;
    vertical-align: middle;
}

.field-container {
  position: relative;
  height: 100%;
}

@media screen and (max-width: 991px) {
  .filter-block {
      background: linear-gradient(to bottom, rgba(0,0,0,0.5), #000);
      height: 210px;
      vertical-align: middle;
  }
  .field-container {
    position: relative;
    height: 33%;
  }
}

.field-box {
  position: absolute;
  width: 90%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* Sidebar */

.sidebar-profile {
  min-height: 100px;
  width: 100%;
  vertical-align: middle;
  padding-bottom: 10px;
}

.sidebar-photo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 10px;
  margin-bottom: 10px;

  display: inline-block;
}

.sidebar-user-name {
  display: inline-block;
  color: white;
  margin-left: 10px;
}

/* Dashboard */

.dashboard-container {
  width: 100%;
  position: relative;
}

/*.page-splash-campuses {
  min-height: 150px;
  background: url("https://members.galvanize.com/static/img/galvanize-community.jpg") 50% 50% no-repeat;
  text-align: center;
  position: relative;
}*/

.tap-container {
  display: inline-block;
  background-color: white;
  box-sizing: border-box;
  padding:0;
  margin-top: 50px;

}

.tap-header {
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.5), #000);
  position: relative;
  text-align: center;
}

.tap-title-container {
  margin-top: 30px;
  text-align: center;
}

.tap-headline-text {
  /*color: white;*/
  font-size: 16pt;
  display: inline-block;
  margin: auto;
}

.tap-body {
  /*position: relative;*/
  padding-top: 30px;
  width: 100%;
  /*height: 500px;*/
  background: white;
  margin-bottom: 50px;
}

.dashboard-content {
  margin-top: 10px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.time-container {
  position: relative;
  display: inline-block;
}

.time-headline {
  display: inline-block;
  font-size: 16pt;
}

.keg-level-indicator {
  position: relative;
  display: inline-block;
}

.keg-cover-container {
  position: relative;
  display: inline-block;
  margin: 0 !important;
  padding: 0 !important;
  /*background: blue;*/
}

.keg-img {
  display: inline-block;
  width: 100%;
  height: auto;
  /*position: absolute;
  top:0;
  left:0;*/
  background: transparent;
  z-index: 99;
}

.keg-fill {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #1B5E20;
}

.btn-group-container {
  /*margin-top: 15px;*/
}

.btn-container {
  margin-top: 15px;
  /*margin-bottom: 15px;*/
}

@media screen and (max-width: 991px) {
  .btn-container {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.dashboard-btn {
  border-radius: 0;
}

.time-block {
  margin: 5px 0;
  padding: 10px;
  text-align: center;
}

.time-block-open {
  background: #4CAF50;
}

.time-block-close {
  background: #FF5722;
}

/* Campus Page */

.page-splash-campuses {
  min-height: 150px;
  background: url("https://members.galvanize.com/static/img/galvanize-community.jpg") 50% 50% no-repeat;
  text-align: center;
  position: relative;
}

.splash-title {
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 10px;
  color: white;
}

.campus-container {
  position: relative;
  background-color: white;
  box-sizing: border-box;
  /*border: 1px solid rgb(90,90,90);*/
  /*border-radius: 6px;*/
}

.campus-header {
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.5), #000);
  position: relative;
}

.campus-body {
  width: 100%;
  height: 150px;
  text-align: center;
}


.campus-photo {
  position: absolute;
  bottom: -35px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
  width: 70px;
  border: 5px solid white;
  border-radius: 6px;
}

.campus-card {
  margin-bottom: 30px;
}


/* Users Page*/

.page-sub-wrapper {
  padding: 0 !important;
}

.page-splash-profile {
  min-height: 150px;
  background: url("https://members.galvanize.com/static/img/galvanize-community.jpg") 50% 50% no-repeat;
  text-align: center;
  position: relative;
}

.splash-title {
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 10px;
  color: white;
}

.ceiling {
  padding-top: 30px;
}

.profile-container {
  position: relative;
  background-color: white;
  box-sizing: border-box;
  /*border: 1px solid rgb(90,90,90);*/
  /*border-radius: 6px;*/
}

.profile-header {
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.5), #000);
  position: relative;
}

.profile-body {
  width: 100%;
  height: 200px;
  text-align: center;
}

.name-link-text {
  padding-top: 40px;
}

.profile-photo {
  position: absolute;
  bottom: -35px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
  width: 70px;
  border: 5px solid white;
  border-radius: 6px;
  z-index: 99;
}

.profile-card {
  margin-bottom: 30px;
}

.profile-location-box {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 50px;
  background: rgb(100,100,100);
}

.profile-location-box-fill {
  height: 100%;
  width: 100%;
  position: relative;
  vertical-align: middle;
}



/* Style Overrides */

.sidebar {
  height: 100vh;
  background: -webkit-linear-gradient(top, #333, #555) !important;
}

.nav>li>a {
  color: rgb(255,255,255);
}

.nav>li>a:hover {
  background: rgba(255,255,255,0.2) !important;
}
